<html>
  <body>
    <h2>Password Reset</h2>
    <p>Hello <%= name %>,</p>
    <p>You requested a password reset. Click the link below:</p>
    <a href="<%= resetLink %>">Reset Password</a>
  </body>
</html>
